.wrapper{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.App {
  margin: auto;
}

h1 {
  text-align: center;
  margin: 30px;
  color: green;
  text-shadow: 1px 1px 1px rgba(85, 85, 85, 0.934);
}

footer {
  margin: 2rem;
  text-align: center;
}
